.card {
  display: flex;
  max-width: 350px;
  align-items: center;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  .album {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .content {
    flex: 1;
    .title {
      font-size: 16px;
    }
  }
}
