.list {
  padding: 10px 0;

  .card {
    width: 100%;
    max-width: 600px;
    margin: 10px auto;

    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .album {
      width: 100px;
      height: 100px;
      .cover {
        width: 100%;
        height: 100%;
      }
    }

    .content {
      flex: 1;
      padding: 5px 8px;
    }
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}
