.list {
  padding: 10px 0;

  .card {
    width: 100%;
    max-width: 600px;
    margin: 10px auto;

    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .album {
      width: 100px;
      height: 100px;
      .cover {
        width: 100%;
        height: 100%;
      }
    }

    .content {
      flex: 1;
      padding: 5px 8px;
      a:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

.programs {
  ul,
  li {
    list-style: none; /* 去除ul和li的默认左边符号 */
    padding: 0; /* 设置内边距为0 */
    margin: 0; /* 设置外边距为0 */
  }

  padding: 10px;
  .header {
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdee3;
    max-width: 690px;
    .title {
      border-left: 4px solid #e13430;
      padding-left: 5px;
      margin-right: 6px;
      font-size: 18px;
    }
    .description {
      font-size: 12px;
      font-weight: lighter;
      /* 单行显示 */
      /* white-space: nowrap; */
      /* 超出部分隐藏 */
      /* overflow: hidden; */
      /* 文字超出部分用省略号显示 */
      /* text-overflow: ellipsis; */
    }
    .active {
      color: #e13430 !important;
      border-bottom: 3px solid #e13430;
    }
  }
  .tableTitle {
    background: #f2f2f5;
    margin-top: 10px;
    /* width: 690px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      font-size: 16px;
      color: #606060;
      text-align: center;
      padding: 9px 20px 4px 20px;
      margin: 0 5px;
      cursor: pointer;
    }
    .active {
      color: #e13430 !important;
      border-bottom: 3px solid #e13430;
    }
  }
  .programList {
    font-size: 12px;
    .radio {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .col1,
      .col3 {
        width: 120px;
      }
      .col3 {
        text-align: right;
      }
    }
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}
